/* Set the app attribute to your app's dash-delimited alias. */
cloudflare-app[app="coinbase-wallet-display"] {
  display: block;
  font-weight: bold;
  margin: .5em .2em;
  outline: 2px solid rgba(255, 106, 0, 0.4);
  padding: .5em;
}

/* Use native elements when you'd like to inherit some styles from the page. */
cloudflare-app[app="coinbase-wallet-display"] p {
  text-indent: 0;
}

/* Use em units to scale elements for different inherited styles. */
cloudflare-app[app="coinbase-wallet-display"] h1 {
  font-size: 1.8em;
}

/* Use custom elements to avoid style inheritance. */
cloudflare-app[app="coinbase-wallet-display"] coinbase-wallet-display-button {
  border: 1px solid;
}

/* Prefix classes with your app's alias to avoid style collisions. */
cloudflare-app[app="coinbase-wallet-display"] .example-highlighted {
  background-color: yellow;
  outline: .2em solid yellow;
}
